<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rulsion.file.docTest.mapper.FileMapper">
    <select id="getFileUploadByUserIdAndFileName" resultType="com.rulsion.file.docTest.entity.FileUpload">
        select * from t_upload_file where userid = #{userId} and local_name = #{localName}
    </select>
    <insert id="addFileUpload" parameterType="com.rulsion.file.docTest.entity.FileUpload">
        insert into t_upload_file(
             userid,
             server_path,
             server_name,
             tmp_name,
             local_path,
             local_name,
             last_modified_date,
             uploaded_size,
             status,
             create_time,
             finish_time
        ) values (
            #{userid},
            #{serverPath},
            #{serverName},
            #{tmpName},
            #{localPath},
            #{localName},
            #{lastModifiedDate},
            #{uploadedSize},
            #{status},
            #{createTime}
        )

    </insert>
</mapper>